body {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 20px 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 10px;
}